## INSTALL LIBRARY


- pip install mysql-connector-python

In [1]:
pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.4.0-cp310-cp310-manylinux_2_17_x86_64.whl.metadata (2.0 kB)
Downloading mysql_connector_python-8.4.0-cp310-cp310-manylinux_2_17_x86_64.whl (19.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 19.4/19.4 MB 579.2 kB/s eta 0:00:0000:0100:01
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.4.0
Note: you may need to restart the kernel to use updated packages.


## IMPORT LIBRARY

In [ ]:
import mysql.connector

## CREATE CONNECTION

In [1]:
db_params = {
    'host': 'localhost',
    'user': 'root',
    'port': 23306,
    'password': 'p455w0rd'
}

connection = mysql.connector.connect(**db_params)
cursor = connection.cursor()

print("MariaDB connection successful")

NameError: name 'mysql' is not defined

MariaDB connection successful


## CREATE DATABASE

In [ ]:
create_db_query = "CREATE DATABASE bhs_pemrograman"

cursor.execute(create_db_query)

print("Database created successfully")

Database created successfully


## CREATE NEW PARAM DB

In [ ]:
db_params = {
    'host': 'localhost',
    'user': 'root',
    'port': 23306,
    'password': 'p455w0rd',
    'database': 'bhs_pemrograman'
}

## CREATE TABLE

In [ ]:
connection = mysql.connector.connect(**db_params)
cursor = connection.cursor()

print("MariaDB connection successful")

# Create table query
create_table_query = """
CREATE TABLE pert9 (
    id INT AUTO_INCREMENT PRIMARY KEY,
    name VARCHAR(255),
    age INT
)
"""

# Execute query
cursor.execute(create_table_query)

print("Table created successfully")

# Close MariaDB connection
cursor.close()
connection.close()

print("MariaDB connection is closed")

MariaDB connection successful
Table created successfully
MariaDB connection is closed


## INSERT DATA

In [ ]:
connection = mysql.connector.connect(**db_params)
cursor = connection.cursor()

print("MariaDB connection successful")


insert_query = "INSERT INTO pert9 (name, age) VALUES (%s, %s)"
data_to_insert = [
    ('Ani', 20),
    ('Budi', 21),
    ('Caca', 19)
]

# Execute query
cursor.executemany(insert_query, data_to_insert)
connection.commit()

print("Data inserted successfully")

MariaDB connection successful
Data inserted successfully


## QUERY DATA

In [1]:
connection = mysql.connector.connect(**db_params)
cursor = connection.cursor()

print("MariaDB connection successful")

# Select data query
select_query = "SELECT * FROM pert9"

# Execute query
cursor.execute(select_query)
rows = cursor.fetchall()

# Display data
for row in rows:
    print(row)

NameError: name 'mysql' is not defined

MariaDB connection successful
(1, 'Alice', 30)
(2, 'Bob', 25)
(3, 'Charlie', 35)
(4, 'Ani', 20)
(5, 'Budi', 21)
(6, 'Caca', 19)


## CLOSE CONNECTION

In [ ]:
cursor.close()
connection.close()

print("MariaDB connection is closed")


MariaDB connection is closed